<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.ginapps.myphonenumber"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyPhoneApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"
            android:label="@string/about"/>

        <activity android:name=".SettingsActivity"
            android:label="@string/label_settings"/>

        <activity
            android:name=".widget.DarkPhoneWidgetConfigureActivity"
            android:label="@string/activity_label_widget_settings">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.WhitePhoneWidgetConfigureActivity"
            android:label="@string/activity_label_widget_settings">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".widget.DarkWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/dark_main_widget_info"/>
        </receiver>

        <receiver android:name=".widget.WhiteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/white_main_widget_info"/>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b6ffd54c7cea129444cca7097ae2df17fdcfe1b" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
